
.container.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.nav-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-link {
    font-family: "Lexend", sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 0.07rem;
    color: var(--primary-color);
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.nav-link.active {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

.social {
    font-weight: 500;
    align-items: center;
}