
.hr-divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.hr-divider::before, .hr-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--accent-color-1);
}

.hr-text {
    padding: 0.25rem 1rem;
    border-radius: 999px;
    background-color: var(--accent-color-1);
}
