
.hr-divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.hr-divider::before, .hr-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.hr-text {
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #333;
    border-radius: 999px;
    background-color: #f9f9f9;
    font-weight: bold;
    font-size: 14px;
}
