
.widget.external-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: 0.6s;
    text-decoration: none;
}

.widget.external-link:hover {
    background-color: var(--black);
}

.top-right-external-link-img {
    position: absolute;
    top: 1rem; right: 1rem; width: 1.35rem; height: 1.35rem;
}

.external-link-img {
    width: 3.5rem;
    height: 3.5rem;
    display: block;
}

.widget.external-link:hover .top-right-external-link-img,
.widget.external-link:hover .external-link-img {
    filter: invert(100%) brightness(200%);
}
