

.widget.full-button:hover {
    background-color: var(--black);
    color: var(--white);
    border-color: var(--black);
}

.social-media-platform-img {
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
}
