
* { box-sizing: border-box; }
a { text-decoration: none; }

.widget {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    padding: 1.5rem;
    transition-duration: 0.3s;

    min-height: 0;
    min-width: 0;
    overflow: hidden;
}

.widget:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
}


/* Sizing */

.widget.wide { grid-column: span 2; aspect-ratio: 2 / 1; }
.widget.extra-wide { grid-column: span 3; aspect-ratio: 3 / 1; }
.widget.tall { grid-row: span 2; aspect-ratio: 1 / 2; }
.widget.big { grid-column: span 2; grid-row: span 2; aspect-ratio: 1 / 1; }

@media (max-width: 800px) {
    .widget.extra-wide { grid-column: span 2; aspect-ratio: 2 / 1; }
}

/*.widget.wide { grid-column: span 2; aspect-ratio: auto; }*/
/*.widget.tall { grid-row: span 2; aspect-ratio: auto; }*/
/*.widget.big { grid-column: span 2; grid-row: span 2; }*/


/* Content positioning */
/* Note: Classes for projects and buttons are located in their own folders. */

.widget.centered {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.widget.bottom-left {
    justify-content: flex-end;
    align-items: flex-start;
}


/* Color sets */

.widget.color-set-1 {
    background: var(--accent-color-1);
    color: var(--black);
}

.widget.color-set-2 {
    background: var(--accent-color-2);
    color: var(--black);
}

.widget.color-set-3 {
    background: var(--black);
    color: var(--white);
}

.widget.liquid-glass {
    background: rgba(255, 255, 255, 0.3);
    color: var(--black);
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 1);
}
