
* { box-sizing: border-box; }
a { color: inherit; text-decoration: none; }

/* This is required to make gaps between widgets.
We cannot use the gap property in main because it will affect the aspect ratio of widgets. */
.widget-container {
    aspect-ratio: 1 / 1;
}

.widget {
    margin: 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 1.5rem;
    transition-duration: 0.3s;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
}

.widget:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
}


/* Sizing */

.widget-container.wide { grid-column: span 2; aspect-ratio: 2 / 1; }
.widget-container.extra-wide { grid-column: span 3; aspect-ratio: 3 / 1; }
.widget-container.tall { grid-row: span 2; aspect-ratio: 1 / 2; }
.widget-container.big { grid-column: span 2; grid-row: span 2; aspect-ratio: 1 / 1; }

@media (max-width: 800px) {
    .widget-container.wide { grid-column: span 2; aspect-ratio: 2 / 1; }
    .widget-container.extra-wide { grid-column: span 2; aspect-ratio: 2 / 1; }
    .widget-container.tall { grid-row: span 2; aspect-ratio: 1 / 2; }
    .widget-container.big { grid-column: span 2; grid-row: span 2; aspect-ratio: 1 / 1; }
}


/* Content positioning */
/* Note: CSS classes for projects are located in its own folder. */

.widget.centered { justify-content: center; text-align: center; }
.widget.bottom-left { justify-content: flex-end; align-items: flex-start; }

.external-link-img {
    position: absolute;
    top: -0.65rem; right: -0.65rem;
    width: 1.25rem; height: 1.25rem;
}


/* Color sets */

.widget.color-set-1 { background: var(--accent-color-1); color: var(--black); }
.widget.color-set-2 { background: var(--accent-color-2); color: var(--black); }
.widget.color-set-3 { background: var(--black); color: var(--white); }

.widget.liquid-glass {
    background: rgba(255, 255, 255, 0.3);
    color: var(--black);
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 1);
}
