@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.docs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;

    --accent-color-1: #F2B8FF;
    --accent-color-2: rgb(255, 133, 70);

    --grey: rgb(205, 209, 211);
}

.docs .content {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.docs-header { font-family: "Inter", sans-serif; font-size: 1.5rem; font-weight: 500; }
.indent .docs-header { font-size: 1.25rem; padding-top: 0.5rem; }
.indent .indent .docs-header { font-size: 1.15rem; margin-left: 0.75rem; }
.indent .indent .indent .docs-header { font-size: 1rem; margin-left: 1.5rem; }

.docs-p { font-family: "Inter", sans-serif; font-size: 1rem; font-weight: 300; margin-top: 0.5rem; }
.indent .docs-p { margin-left: 0.75rem; }
.indent .indent .docs-p { margin-left: 1.5rem; }
.indent .indent .indent .docs-p { margin-left: 2.25rem; }

.docs-p b { font-weight: 500; }

.docs-header .code-quote { padding: 0 0.25rem; background-color: var(--grey); border-radius: 6px; font-family: "JetBrains Mono", sans-serif; font-weight: 400; }
.docs-subheader .code-quote { padding: 0 0.25rem; background-color: var(--grey); border-radius: 6px; font-family: "JetBrains Mono", sans-serif; font-weight: 400; }

code { padding: 0 0.25rem; background-color: var(--grey); border-radius: 6px; font-family: "JetBrains Mono", sans-serif; font-weight: 400; }

.docs-p .external-link { text-decoration: underline; }

.docs-p ul { margin: 0.5rem 0 0 0; }
.docs-p ul li { padding-bottom: 0.35rem; }
.docs-p ul li:last-child { padding-bottom: 0; }

.docs-img {
    display: block;
    margin: 0 auto;
    width: 50%;
}
