@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

main {
    display: grid;
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 1rem 3rem 1rem;
    grid-template-columns: repeat(4, 1fr);
    animation: slideIn 0.8s ease-out forwards;

    --accent-color-1: rgb(133, 202, 244);
    --accent-color-2: rgb(255, 133, 70);
}

@media (max-width: 800px) {
    main { grid-template-columns: repeat(2, 1fr); }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    margin-block-start: -0.75rem;
    margin-block-end: 0;
    font-family: "Orbitron", sans-serif;
    font-size: 1.85rem;
    font-weight: 800;
    -webkit-text-size-adjust: 55%;
    letter-spacing: 0.05rem;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Inter", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    -webkit-text-size-adjust: 80%;
    font-optical-sizing: auto;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Lexend", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    font-optical-sizing: auto;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.05rem;
    font-weight: 300;
    -webkit-text-size-adjust: 80%;
    font-optical-sizing: auto;
}
