
.glass-container {
    padding: 0.15rem 0.75rem 0.15rem 0.75rem;
    border-radius: 30px;
    background: var(--container-glow);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 2px solid var(--container-glow-border);
    box-shadow: var(--container-glow) 0 8px 32px 0;
    transition-duration: 0.3s;
}

.glass-container:hover {
    /*box-shadow: var(--container-glow-hover) 0 8px 32px 0;*/
}

