
:root {
    --bg-color: rgb(236, 231, 231);
    --white: rgb(255, 255, 255);
    --black: rgb(34, 34, 34);
    --accent-color-1: rgb(236, 189, 7);
    --accent-color-2: #ea184f;

    --container-glow: rgba(235, 240, 256, 0.15);
    --container-glow-border: rgba(201, 24, 74, 0.15);
    --container-glow-hover: rgba(150, 220, 255, 0.2);
}

html, body { margin: 0; padding: 0; background: var(--bg-color); font-optical-sizing: auto; }

main {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
}

@media (max-width: 800px) {
    main { grid-template-columns: repeat(2, 1fr); }
}
