
:root {
    --bg-color: #222222;
    --primary-values: 235, 240, 256;
    --secondary-values: 201, 24, 74;
    --tertiary-values: 150, 220, 255;

    --primary-color: rgb(var(--primary-values));
    --secondary-color: rgb(var(--secondary-values));
    --tertiary-color: rgb(var(--tertiary-values));

    --container-glow: rgba(var(--primary-values), 0.15);
    --container-glow-border: rgba(var(--primary-values), 0.15);
    --container-glow-hover: rgba(var(--secondary-values), 0.2);
}

html, body { margin: 0; padding: 0; background: var(--bg-color); font-optical-sizing: auto; }
/*body { display: flex; justify-content: center; }*/

main {
    margin: 1rem auto;
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(5, 1fr);  /* Split width into 5 columns. */
    grid-auto-rows: 240px;  /* Height for 1 row. */
    gap: 1rem;
}

.widget-container {
    background-color: var(--bg-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.liquid-glass-bg {

}

.static-bg {

}
