
:root {
    --bg-color: rgb(239, 234, 234);
    --white: rgb(255, 255, 255);
    --black: rgb(34, 34, 34);

    --accent-color-1: rgb(133, 202, 244);
    --accent-color-2: rgb(220, 202, 22);
    --accent-color-3: rgb(228, 81, 0);
    --accent-color-4: rgb(67, 41, 4);
}

html, body { margin: 0; padding: 0; background: var(--bg-color); font-optical-sizing: auto; }

main {
    display: grid;
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 1rem 3rem 1rem;
    grid-template-columns: repeat(4, 1fr);
}

/*@media (max-width: 900px) {*/
/*    main { grid-template-columns: repeat(3, 1fr); }*/
/*}*/

@media (max-width: 700px) {
    main { grid-template-columns: repeat(2, 1fr); }
}
