
:root {
    --bg-color: rgb(239, 234, 234);
    --white: rgb(255, 255, 255);
    --black: rgb(34, 34, 34);
}

html, body { margin: 0; padding: 0; background: var(--bg-color); font-optical-sizing: auto; }
