
:root {
    --white: rgb(255, 255, 255);
    --black: rgb(34, 34, 34);
    --accent-color-1: #ea184f;
    --accent-color-2: #ea184f;

    --bg-color: var(--black);
    --primary-values: 235, 240, 256;
    --secondary-values: 201, 24, 74;
    --tertiary-values: 150, 220, 255;

    --primary-color: rgb(var(--primary-values));
    --secondary-color: rgb(var(--secondary-values));
    --tertiary-color: rgb(var(--tertiary-values));

    --container-glow: rgba(var(--primary-values), 0.15);
    --container-glow-border: rgba(var(--primary-values), 0.15);
    --container-glow-hover: rgba(var(--secondary-values), 0.2);

    --h1-text-color: var(--white);
    --h2-text-color: rgb(228, 228, 228);
    --p-text-color: rgb(228, 228, 228);

    --project-footer-bubble-color: rgb(228, 228, 228);
    --project-footer-text-color: rgb(34, 34, 34);

    --widget-container-spacing: 1.5rem;
}

html, body { margin: 0; padding: 0; background: var(--bg-color); font-optical-sizing: auto; }

main {
    display: flex;
    max-width: 1100px;
    margin: auto;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
}

/*.content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 1rem;*/
/*    gap: 3rem;*/
/*}*/

/*.scrollbar-wrapper {*/
/*    grid-column: 3;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/
/*    height: 100vh;*/
/*    position: sticky;*/
/*}*/

@media (max-width: 1100px) {
    /*main { grid-template-columns: auto 1fr; }*/
    /*main { grid-template-columns: 1fr; }*/
    /*.scrollbar-wrapper { padding: 0 15px; }*/
}
