@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap');

:root {
    --bg-color: #222222;
    /*--primary-values: 218, 16, 107; todo?? */
    --primary-values: 235, 240, 256;
    --secondary-values: 201, 24, 74;
    --tertiary-values: 150, 220, 255; /*todo*/

    --primary-color: rgb(var(--primary-values));
    --secondary-color: rgb(var(--secondary-values));
    --tertiary-color: rgb(var(--tertiary-values));

    --container-glow: rgba(var(--primary-values), 0.15);
    --container-glow-border: rgba(var(--primary-values), 0.15);
    --container-glow-hover: rgba(var(--secondary-values), 0.2);
}

html, body { margin: 0; padding: 0; background: var(--bg-color); font-optical-sizing: auto; }
main { margin: 1rem; display: flex; flex-direction: column; gap: 0.5rem; }
.content { display: flex; flex-direction: row; gap: 0.5rem; }

h1 {
    font-family: "Lexend", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color);
    letter-spacing: 0.1rem;
    line-height: 0.25;
}

h2 {
    font-family: "Lexend", sans-serif;
    font-size: 1.05rem;
    font-weight: 400;
    color: var(--secondary-color);
}
