
.homepage-container {
  text-align: center;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.homepage-name {
  font-weight: 600;
  font-size: clamp(4em, 8.3vw, 8.3vw);
  letter-spacing: 0.1em;
}

.homepage-tagline {
  font-weight: 200;
  font-size: clamp(1.15em, 1.5vw, 1.5vw);
  max-width: 50em;
  margin-top: 1em;
  text-align: center;
  word-break: break-word;
}

.homepage-links {
  position: absolute;
  bottom: 5vh;
  display: flex;
  gap: 4em;
}

.homepage-links a {
  font-weight: 400;
  font-size: 1.3em;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
}

.homepage-links a:hover {
  text-decoration: underline;
}

@media only screen and (orientation: portrait) {
  .homepage-container {
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
  }
}
