.project-container {
  height: 100vh;
  padding: 3em 5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.project-header {
  margin-bottom: 2em;
}

.project-name {
  font-weight: 600;
  font-size: 7em;
  letter-spacing: 0.3rem;
  color: transparent;
  background: radial-gradient(circle 1.5px, aliceblue 90%, transparent 100%);
  background-size: 5px 5px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.project-development-dates {
  font-weight: 400;
  font-size: 1.3em;
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2em;
}

.project-tagline {
  flex: 1;
  font-size: 1.7em;
  font-weight: 200;
  text-align: center;
}

.project-content img {
  height: auto;
  border-radius: 5%;
  object-fit: cover;
}

.project-image {
  max-width: 45%;
  text-align: center;
}

.project-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.project-image figcaption {
  font-size: 0.95em;
  color: #ababab;
  margin-top: 0.5em;
}
