@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


h1 {
    margin-block-start: -0.75rem;
    margin-block-end: 0;
    font-family: "Orbitron", sans-serif;
    font-size: 1.85rem;
    font-weight: 800;
    -webkit-text-size-adjust: 55%;
    letter-spacing: 0.05rem;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Inter", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    -webkit-text-size-adjust: 80%;
    font-optical-sizing: auto;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Lexend", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    font-optical-sizing: auto;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.05rem;
    font-weight: 300;
    -webkit-text-size-adjust: 80%;
    font-optical-sizing: auto;
}
