@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');


h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "BBH Bartle", sans-serif;
    /*font-family: "Orbitron", sans-serif;*/
    /*font-family: "Unbounded", sans-serif;*/
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-optical-sizing: auto;
}

p {
    font-family: "Lexend", sans-serif;
    /*font-optical-sizing: auto;*/
    font-size: 1.05rem;
    font-weight: 400;
}

.tech-stack-bubble-text {
    font-family: "Lexend", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--tech-stack-text-color);
}
