@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap');

h1 {
    font-family: "Lexend", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color);
    letter-spacing: 0.1rem;
    line-height: 0.25;
}

h2 {
    font-family: "Lexend", sans-serif;
    font-size: 1.05rem;
    font-weight: 400;
    color: var(--secondary-color);
}
