
.slider-container {
    grid-column: 2;
    grid-row: 1 / 3;
    position: relative;
    background-color: var(--bg-color);
    border: 2px solid var(--accent-color-1);
    border-radius: 999px;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.slider-filler {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider-icon {
    margin-bottom: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    mix-blend-mode: difference;
    filter: invert(1);
}

.brightness-svg {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    pointer-events: none;
}
