
.hero-content {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--widget-container-spacing);
}

.hero-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 999px;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

.hero-button:hover {
    background-color: var(--black);
}

.hero-button img {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    transition-duration: 0.6s;
}

.hero-button:hover img {
    filter: invert(100%) brightness(200%);
}
