


.container.project {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}



.project-container {
  text-align: center;
  min-height: 97vh;
  flex-direction: column;
  position: relative;
}

.project-name {
  font-size: clamp(3.5em, 6vw, 6vw);
  font-weight: 600;
  letter-spacing: 0.05em;
}

.project-dates {
  font-size: clamp(1rem, 1vw, 1vw);
  font-weight: 400;
  margin-top: 0.3em;
}

.project-content {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.project-tagline {
  font-size: clamp(1.15em, 1.5vw, 1.5vw);
  font-weight: 200;
  min-width: 20%;
}

figure img {
  max-width: 60vw;
  max-height: 60vh;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}

figure figcaption {
  font-size: clamp(1rem, 0.9vw, 0.9vw);
  color: #ababab;
  margin-top: 0.3em;
}

@media only screen and (orientation: portrait) {
  .project-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  figure img {
    width: 80vw;
    height: auto;
    margin: 0 auto;
  }

  .project-tagline {
    max-width: 90%;
    margin: 1em auto 0;
    text-align: center;
  }
}
